.wrap-1-admin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-2-admin{
    width: 80vw;
    min-height: 90vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wrap-2-admin-2{
    width: 80vw;
    padding: 2vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}